body {
    background-image: url(https://img5.pic.in.th/file/secure-sv1/12-maverick-vinales-lg6_3523_0.gallery_full_top_fullscreen.jpg);
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.container {
    
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

h2 {
    font-weight: bold;
    color: #333;
}

h3 {
    color: #0056b3;
}

form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input, form textarea {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

form button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin: 10px 0;
    font-size: 16px;
}
